In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf
# from sklearn.preprocessing import StandardScaler
from joblib import dump
from pathlib import Path

In [2]:
url = 'https://raw.githubusercontent.com/jonyang6483/Project-4-Movie-Projections/main/Resources/clean_movies.csv'
df_movie = pd.read_csv(url)

In [3]:
df_movie

,Unnamed: 0,name,rating,genre,year,released,director,writer,star,country,budget,gross,company,runtime,trixbudget,success
0,0,The Shining,R,Drama,1980,June,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,8998772.0,1
1,1,The Blue Lagoon,R,Adventure,1980,July,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,49853106.0,1
2,2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,502375067.0,1
3,3,Airplane!,PG,Comedy,1980,July,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,76453539.0,1
4,4,Caddyshack,R,Comedy,1980,July,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,27846344.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5416,7648,Bad Boys for Life,R,Action,2020,January,Adil El Arbi,Peter Craig,Will Smith,United States,90000000.0,426505244.0,Columbia Pictures,124.0,246505244.0,1
5417,7649,Sonic the Hedgehog,PG,Action,2020,February,Jeff Fowler,Pat Casey,Ben Schwartz,United States,85000000.0,319715683.0,Paramount Pictures,99.0,149715683.0,1
5418,7650,Dolittle,PG,Adventure,2020,January,Stephen Gaghan,Stephen Gaghan,Robert Downey Jr.,United States,175000000.0,245487753.0,Universal Pictures,101.0,-104512247.0,0
5419,7651,The Call of the Wild,PG,Adventure,2020,February,Chris Sanders,Michael Green,Harrison Ford,Canada,135000000.0,111105497.0,20th Century Studios,100.0,-158894503.0,0
5420,7652,The Eight Hundred,Not Rated,Action,2020,August,Hu Guan,Hu Guan,Zhi-zhong Huang,China,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment,149.0,301421559.0,1

In [4]:
df_movie = df_movie.drop(columns=['name', 'trixbudget'])

In [5]:
df_movie_dummies = pd.get_dummies(df_movie)

In [6]:
df_movie_dummies

,Unnamed: 0,year,budget,gross,runtime,success,rating_Approved,rating_G,rating_NC-17,rating_Not Rated,...,company_Zentropa Entertainments,company_Zeta Entertainment,company_Zoetrope Studios,company_Zucker Brothers Productions,company_double A Films,company_erbp,company_i am OTHER,company_i5 Films,company_micro_scope,company_thefyzz
0,0,1980,19000000.0,46998772.0,146.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1980,4500000.0,58853106.0,104.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1980,18000000.0,538375067.0,124.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1980,3500000.0,83453539.0,88.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1980,6000000.0,39846344.0,98.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5416,7648,2020,90000000.0,426505244.0,124.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5417,7649,2020,85000000.0,319715683.0,99.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5418,7650,2020,175000000.0,245487753.0,101.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5419,7651,2020,135000000.0,111105497.0,100.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5420,7652,2020,80000000.0,461421559.0,149.0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
movie_cat = df_movie_dummies.dtypes[df_movie_dummies.dtypes == "object"].index.tolist()

In [8]:
df_movie_dummies[movie_cat].nunique()

Series([], dtype: float64)

In [9]:
!pip install -U scikit-learn

enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_movie_dummies[movie_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(movie_cat)
encode_df.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [10]:
df_movie_dummies = df_movie_dummies.merge(encode_df,left_index=True, right_index=True)
df_movie_dummies = df_movie_dummies.drop(movie_cat,1)
df_movie_dummies.head()

<ipython-input-10-35883eee63dd>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_movie_dummies = df_movie_dummies.drop(movie_cat,1)

,Unnamed: 0,year,budget,gross,runtime,success,rating_Approved,rating_G,rating_NC-17,rating_Not Rated,...,company_Zentropa Entertainments,company_Zeta Entertainment,company_Zoetrope Studios,company_Zucker Brothers Productions,company_double A Films,company_erbp,company_i am OTHER,company_i5 Films,company_micro_scope,company_thefyzz
0,0,1980,19000000.0,46998772.0,146.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1980,4500000.0,58853106.0,104.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1980,18000000.0,538375067.0,124.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1980,3500000.0,83453539.0,88.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1980,6000000.0,39846344.0,98.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y = df_movie_dummies["success"].values
X = df_movie_dummies.drop(columns=["success"],axis=1).values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
X_train.shape

(4065, 8680)

In [13]:
X_test.shape

(1356, 8680)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [72]:
# Define the model - deep neural net
input_features = len(X_train[0])
hidden_nodes_layer1 =  2
hidden_nodes_layer2 = 4
hidden_nodes_layer3 = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_53 (Dense)            (None, 2)                 17362

 dense_54 (Dense)            (None, 4)                 12

 dense_55 (Dense)            (None, 1)                 5

 dense_56 (Dense)            (None, 1)                 2

=================================================================
Total params: 17,381
Trainable params: 17,381
Non-trainable params: 0
_________________________________________________________________

In [73]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [74]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
128/128 [==============================] - 3s 9ms/step - loss: 0.6918 - accuracy: 0.5252
Epoch 2/20
128/128 [==============================] - 1s 10ms/step - loss: 0.6840 - accuracy: 0.5252
Epoch 3/20
128/128 [==============================] - 1s 6ms/step - loss: 0.6648 - accuracy: 0.5252
Epoch 4/20
128/128 [==============================] - 1s 6ms/step - loss: 0.6396 - accuracy: 0.6214
Epoch 5/20
128/128 [==============================] - 1s 7ms/step - loss: 0.6173 - accuracy: 0.8295
Epoch 6/20
128/128 [==============================] - 1s 10ms/step - loss: 0.5977 - accuracy: 0.8381
Epoch 7/20
128/128 [==============================] - 1s 8ms/step - loss: 0.5805 - accuracy: 0.8423
Epoch 8/20
128/128 [==============================] - 1s 7ms/step - loss: 0.5638 - accuracy: 0.8460
Epoch 9/20
128/128 [==============================] - 1s 6ms/step - loss: 0.5481 - accuracy: 0.8492
Epoch 10/20
128/128 [==============================] - 1s 5ms/step - loss: 0.5334 - accuracy: 0.8517
Epoch 11/20
128/128 [==============================] - 1s 6ms/step - loss: 0.5197 - accuracy: 0.8531
Epoch 12/20
128/128 [==============================] - 1s 6ms/step - loss: 0.5070 - accuracy: 0.8544
Epoch 13/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4945 - accuracy: 0.8566
Epoch 14/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4831 - accuracy: 0.8578
Epoch 15/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4724 - accuracy: 0.8583
Epoch 16/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4624 - accuracy: 0.8590
Epoch 17/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4526 - accuracy: 0.8598
Epoch 18/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4435 - accuracy: 0.8610
Epoch 19/20
128/128 [==============================] - 1s 6ms/step - loss: 0.4348 - accuracy: 0.8613
Epoch 20/20
128/128 [==============================] - 1s 5ms/step - loss: 0.4262 - accuracy: 0.8617

In [75]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

43/43 - 0s - loss: 0.6992 - accuracy: 0.6114 - 255ms/epoch - 6ms/step
Loss: 0.6992348432540894, Accuracy: 0.6113569140434265